* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background: linear-gradient(#1e293b, #78a857, #1e293b);
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-bottom: 2px;

}

nav ul li {

    color: #fff;
    list-style: none;
    text-align: center;
    justify-content: center;
    display: inline-block;
    padding: 20px;

}


a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition-property: all;
    transition-duration: inherit;

}

a:focus,
a:hover {
    color: rgb(131, 95, 5);
    width: 10px;
    height: 7px;
}


.section {
    flex-direction: column;
    color: #fff;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(#1e293b, #78a857, #0f172a);
}

#headt {
    text-transform: uppercase;
    color: #fff;
}

#imges {
    width: 350px;
    height: 200px;
    padding: 10px;
    box-shadow: 2px 4px 6px #f6efeffd;
    border-radius: 10px;
    margin: 10px;
    transition-property: all;
    transition-duration: 2s;
}

#imges:hover,
#imges:hover {

    width: 400px;
    height: 220px;

}

#fourhead {
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
}

footer {
    justify-content: center;
    display: flex;
    background: linear-gradient(#1e293b, #78a857, #1e293b);
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-top: 2px;

}

#gimg {
    display: flex;

}

#log {
    width: 100%;
    height: 100px;
    margin-left: 600px;

}

.crl {
    clear: both;
}

#rightlogo {
    float: center;
    margin-top: 6%;
    width: 10%;
    animation: coin 9s linear 1s infinite;
}


@keyframes coin {
    0% {
        transform: rotatey(0deg);
        filter: blur(20%);
    }

    25% {
        filter: brightness(70%);

    }

    50% {
        filter: hue-rotate(150%);
    }

    75% {
        filter: grayscale(100%);
    }

    100% {
        filter: saturate(400%);
        transform: rotatey(360deg);
    }

}

#foto {
    width: 200px;
    height: 20px;
}


.contact {
    padding: 50px;
    text-align: center;
}


form {
    margin-top: 30px;
}

input,
textarea {
    pad: 10px;
    width: 80%;
    margin: 5px 0;
}

input[type="submit"] {
    padding: 10px 20px;
}

body {
    background: linear-gradient(#1e293b, #78a857, #0f172a);
}

input:focus {
    background-color: #000;
    color: #fff;
}

#tharehead {
    padding-bottom: 20px;
    color: #fff;
    font-size: 20px;
}

.city {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(img11.jpg);
    animation: day 20s linear 1s infinite;

}

@keyframes day {
    0% {
        background-image: url(img.jpg);
    }

    10% {
        background-image: url(img1.jpg);
    }

    20% {
        background-image: url(img2.jpg);
    }

    30% {
        background-image: url(img3.jpg);
    }

    40% {
        background-image: url(img4.jpg);
    }

    50% {
        background-image: url(img5.jpg);
    }

    60% {
        background-image: url(img6.jpg);
    }

    70% {
        background-image: url(img7.jpg);
    }

    80% {
        background-image: url(img8.jpg);
    }

    90% {
        background-image: url(img9.jpg);
    }

    100% {
        background-image: url(img10.jpg);
    }
}

#baghead {
    margin: 10px;
    color: #fff;
    text-align: center;
}

#fourhead {
    text-align: center;
}

p {
    text-align: justify;
    color: #fff;
}


#imgs {
    width: 350px;
    height: 200px;
    padding: 10px;
    box-shadow: 0 4px 6px #f6efeffd;
    border-radius: 10px;
    margin: 30px;

}

#heading {
    text-align: center;
    margin: 10px;
    color: #fff;
}

.tomorrow {
    display: flex;

}

#t2 {
    width: 400px;
    height: 200px;
    margin-left: 450px;
    margin-top: 30px;
    border-radius: 6px 6px;
    box-shadow:  4px 4px 6px 6px #82a5de;
    animation: today 20s linear 1s infinite;
}

@keyframes today {

    0% {
        transform: rotatex(0deg);
    }

    100% {
        transform: rotatex(360deg);
    }
}

#para1 {
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
}